<header-component />
<main>
  <ul id="users">
    @for (user of users; track user.id) {
    <li>
      <!-- $event will give us the value which we are emitting -->
      <app-user [id]="user.id" [avatar]="user.avatar" [name]="user.name" (select)="onSelectUser($event)"
        [selected]="(selectedUser?.id === user.id)" />
    </li>
    }

    <!-- 
            Using Structural directives
        <li *ngFor="let user of users">
            <app-user [id]="user.id" [avatar]="user.avatar" [name]="user.name" (select)="onSelectUser($event)" />
        </li> 
        
        -->
  </ul>

  <div>
    @if(selectedUser){<app-task [user]="selectedUser" />}
    @else{
        <p id="fallback">
            Select a user to see thier tasks!
        </p>
        }
  </div>
</main>